div[is="hwk-popup"].hwk-messagebox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: transparent;
}

div[is="hwk-popup"].hwk-messagebox .hwk-popup-panel {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
    column-gap: .5rem;

    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    box-sizing: content-box;
    min-width: 10em;
    max-width: 50em;
    max-width: 15em;
    padding: 2em;
}

div[is="hwk-popup"].hwk-messagebox .hwk-messagebox-text {
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    text-wrap: wrap;

    grid-row: 1;
    grid-column: 1 / span 2;
}

div[is="hwk-popup"].hwk-messagebox .hwk-messagebox-ok-button {
    grid-row: 2;
    grid-column: 1 / span 2;
}
div[is="hwk-popup"].hwk-messagebox .hwk-messagebox-cancel-button {
    grid-row: 2;
    grid-column: 2;
}

div[is="hwk-popup"].hwk-messagebox.confirm .hwk-messagebox-ok-button {
    grid-column: 1;
}


div[is="hwk-popup"].hwk-messagebox.prompt .hwk-messagebox-input {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-left: 1px;
}

div[is="hwk-popup"].hwk-messagebox.prompt .hwk-messagebox-ok-button {
    grid-row: 3;
    grid-column: 1;
}

div[is="hwk-popup"].hwk-messagebox.prompt .hwk-messagebox-cancel-button {
    grid-row: 3;
}