div[is="hwk-messagebox"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

div[is="hwk-messagebox"] .hwk-messagebox-panel {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    box-sizing: content-box;
    min-width: 10em;
    max-width: 50em;
    max-width: 15em;
    padding: 2em;
}


div[is="hwk-messagebox"] .hwk-messagebox-alert-text,
div[is="hwk-messagebox"] .hwk-messagebox-confirm-text {
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    text-wrap: wrap;
}

div[is="hwk-messagebox"] .hwk-messagebox-alert-ok-button {
    display: block;
    margin: .5rem auto 0 auto;
}

div[is="hwk-messagebox"].hwk-messagebox-confirm .hwk-messagebox-panel {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
    column-gap: .5rem;
}

div[is="hwk-messagebox"] .hwk-messagebox-confirm-text {
    grid-row: 1;
    grid-column: 1 / span 2;
}

div[is="hwk-messagebox"] .hwk-messagebox-confirm-ok-button {
    grid-row: 2;
    grid-column: 1;
}

div[is="hwk-messagebox"] .hwk-messagebox-confirm-cancel-button {
    grid-row: 2;
    grid-column: 2;
}