/* Add common styles */
fwk-list {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: auto;

    border: 3px black solid;
}

/* Add orientation specific styles */
fwk-list[orientation="horizontal"] {
    width: 100%;
    flex-direction: row;
}

fwk-list[orientation="vertical"] {
    height: 100%;
    flex-direction: column;
}

/* Add spacers */
.fwk-list-spacer {
    width: 100%;
    height: 100%;
    background: var(--fwk-list-border, none);

    flex-shrink: 0;
    flex-grow: 0;
}

fwk-list[orientation="horizontal"] .fwk-list-spacer {
    width: var(--fwk-list-spacing, .2rem);
}


fwk-list[orientation="vertical"] .fwk-list-spacer {
    height: var(--fwk-list-spacing, .2rem);
}