

div[is="hwk-list"] .list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

div[is="hwk-list"] .separator {
    display: inline-block;
    align-self: stretch;

    background: black;
    width: 1px;
}

div[is="hwk-list"] .list-data {
    display: inline-block;
}