
div[is="hwk-popup"] {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, .5);
}

div[is="hwk-popup"][hwk-popup-obstructive="false"] {display:contents;}
div[is="hwk-popup"][hidden] {display: none;}

.hwk-popup-panel {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    width: 30em;
    height: 10em;
    background: white;
}